header{
    margin: 10px 0px 0px 20px;
    font-family: 'Century Gothic';
}

#back-to-main-page{
    margin-left: 20px;
    margin-top: 15px;
}

form{
    margin: 20px !important;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

form textarea{
    resize: none;
}